@import url("base.css");

/*
	Author: Samih Soylu;
*/
/* Table of Content
==================================================
	#Main
	#Tables
	#Framed image


/* #Nav
================================================== */
header { 
	float:left;
	width:100%;
	background-color:#1c2635;
	text-align:center;
}
nav {
	width:100%;
	max-width:1000px;
	margin:auto;
}
nav ul {
	width:100%;
	max-width:860px;
}
nav h1 {
	color:#fff;
	padding:0;
	margin:0px 50px 0px 0px;
	line-height:50px;
	font-size:14pt;
}
nav h1, nav ul { float:left; }
nav h1 a:link, nav h1 a:visited { color:#fff; }
nav ul li {
	display:inline-block;
	color:#fff;
	font-family:"Open Sans";
	font-size:10pt;
	line-height:50px;
	float:left;
	margin-right:3px;
}
nav ul li a {
	padding:20px;
}
nav ul li a:link, nav ul li a:visited { color:#fff; }
nav ul li a:hover, nav ul li a:active {
	color:#000000;
	background-color:#ffffff;
	border-bottom:1px solid #000;
	text-decoration: none;
	cursor:pointer;
}
nav ul li.active a {
	line-height:50px;
	color:#000000;
	background-color:#ffffff;
	border-bottom:1px solid #1c2635;
}

nav ul li.logout {
	float:right;
}
nav ul li.logout a:link, nav ul li.logout a:visited {
	color:#b51b1b;
}
nav .menu { display:none; }
@media screen and (max-width:980px) { /* mobile screen css */
	nav .menu { 
		display:block; 
		position:absolute;
		left:10px;
		top:5px;
		cursor:pointer;
	}
	nav .menu div {
	    width: 35px;
	    height: 5px;
	    background-color: #ffffff;
	    margin: 6px 0;
	}
	#menu { display:none; }
	nav h1 {
		width:100%;
		text-align:center;
		clear:both;
	}
	nav h1 a:hover { 
		text-decoration:none;
	}
	nav ul li {
		clear:both;
		width:100%;
	}
	nav ul li a {
		width:100%;
		float:left;
		text-transform: uppercase;
	}
	nav ul li.active a, nav ul li a:hover { border:none; }
}

/* #Main
================================================== */
main {
	float:left;
	width:100%;
	overflow:auto;
}
@media screen and (max-width:980px) {
	main {
		padding:0px 10px;
	}
}
article {
	margin:20px auto;
	max-width:1000px;
}
article h2 {margin-bottom:20px;}
article table {
	width:100%;
	margin-bottom:20px;
	table-layout:fixed;
	height:auto;
	word-wrap:break-word;
}

article table tr th { font-weight:bold; }
article table tr th, article table tr td {
	border-spacing:0.5rem;
	border:2px solid #333333;
	border-radius: 4px;
	padding:10px;
	font-family:arial;
	font-size:10pt;
}
p {
	text-align:left;
}
p span {
	color: #ababab;
    font-size: 8pt;
    display: block;
    font-weight:bold;
}

/* #Tables
================================================== */
label {
	float:left;
	font-family:arial;
	font-size:12pt;
	color:#000;
	margin-bottom:5px;
	clear:both;
}
input, textarea {
	float:left;
	border: 1px solid #ddd;
	color:#000;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    background-color:#fff;
    clear:both;
    transition: border .12s ease-in-out;
    outline:none;
    font-family:arial;
    margin-bottom:10px;
    font-size:10pt;
}
textarea { min-height:90px; }
input:focus, textarea:focus {
	border-color:#000;
}
input:disabled, textarea:disabled {
    background: #f8fff7;
}
input[type="submit"]:disabled {
	background-color:#f8fff7;
}
input[type="submit"]:disabled:hover {
	color:#000;
		background-color:#f8fff7;
}
input[type="submit"] {
	background-color:#fff;
	text-transform: uppercase;
	padding:10px 20px;
	float:left;
	max-width:200px;
}
input[type="submit"]:hover, input[type="submit"]:focus {
	cursor:pointer;
	color:#ffffff;
	background-color:#1c2635;
}
@media screen and (max-width:980px) {
	input[type="submit"] {
		max-width:none;
	}
}
form span {
	float:left;
	font-family:arial;
	font-size:8pt;
	color:#888888;
	margin:-5px 0px 20px 0px;
}
.success {
	float:left;
	color:#4F8A10;
	font-weight:bold;
	clear:both;
	background-color:#DFF2BF;
	width:100%;
	text-align:center;
	 padding:20px;
	 border:1px solid #4F8A10;
}

/* #Framed image
================================================== */
.framed-img {
	border: 1px solid #ddd;
	display: inline-block;
	margin-bottom: 20px;
	max-width: 100%;
	padding: 5px 5px;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.framed-img img {
	border-radius: 0;
	box-shadow: none;
	display: block;
	margin: 0 !important;
}
/* #Extras
================================================== */
.center { text-align:center; }
.left { text-align:left; }
.right { text-align:right; }